@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Roboto+Slab:wght@100..900&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Arial", sans-serif; /* Cambiado a Arial */
    background-color: hsl(180, 100%, 100%);
}

.form-container {
    background-color: rgba(220, 255, 255, 0.881);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(55, 54, 54, 0.1);
    width: 45%;
}

.form-container h2 {
    text-align: center;
    color: rgb(8, 182, 251);
}

.form-container h5 {
    text-align: left;
    color: rgb(8, 182, 251);
}

.input-name-company,
.email-phone {
    display: flex;
    gap: 10px;
}

.email-phone input {
    width: 50%;
    border-radius: 5px; 
    border: 1px solid #07c1f0;
}


.dni input {
    border: 1px solid #07c1f0;
}

/* Estilos para textarea (mensaje) */
.message textarea {
    border: 1px solid #07c1f0;
    font-family: "Arial", sans-serif; /* Fuente Arial aplicada */
    margin-bottom: -10px; /* Añadido un margen inferior consistente */
    margin-top: 8px
}

.message label {
    font-family: "Arial", sans-serif; /* Fuente Arial aplicada al label */
    font-weight: bold;
    color: rgb(8, 182, 251); /* Mismo estilo del h5 */
}

.input-name-company input {
    border: 1px solid #07c1f0; 
}

.checkbox {
    display: flex; 
    align-items: center;
}

.input-check {
    margin-right: 10px;
}

.p-ckeck {
    margin: 0;
}

input,
textarea {
    width: 96.5%;
    padding: 10px;
    margin-bottom: 10px; /* Manteniendo un margen uniforme */
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(243, 243, 243);
    font-family: "Arial", sans-serif; /* Aplicado Arial también a los inputs y textarea */
}

input[type="submit"] {
    background-color: #4356df;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    width: 30%;
    display: block;
    margin: 0 auto;
    margin-top: 5%;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #58a5bf;
}

/* Estilos para el div producto */
.producto {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 2px;
    gap: 10px; /* Espacio entre label y input */
}

.producto label {
    font-weight: bold;
    font-size: 0.9rem; /* Reducido el tamaño de la fuente */
    color: rgb(8, 182, 251); /* Aplicado el mismo estilo del h5 */
    text-align: left; 
    width: 50%; /* El label ocupará el 50% del contenedor */
}

.producto select {
    width: calc(38% + 2cm); /* Inicia en el 50% del contenedor y se le agrega 2 cm de ancho */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #07c1f0; /* Mismo estilo de borde que los otros controles */
    border-radius: 5px; /* Bordes redondeados */
    background-color: rgb(243, 243, 243); /* Mismo fondo que los otros controles */
    font-family: "Arial", sans-serif;
}

/* Ajustes para el control de archivo */
.file-upload h5 {
    margin-bottom: 5px; /* Reducido el espacio entre el texto y el input de archivo */
}

.file-upload input[type="file"] {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #07c1f0;
    border-radius: 5px;
}
