@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Roboto+Slab:wght@100..900&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Arial", sans-serif;
    background-color: #f0f4f8;
}
 
.form-container {
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 40%;
    max-width: 500px;
    margin: 20px;
}

 
.form-container h3 {
    text-align: center;
    color: #2090ff;
    font-size: 1.8em;
    font-family: "Arial";
    margin-bottom: 20px;
}
 
.input-name-company,
.email-phone {
    display: flex;
    gap: 10px;
    width:100%;
}
 
.email-phone input, .input-name-company input {
    width: 100%;
    border: 1px solid #2090ff;
    padding: 15px;
    font-size: 1rem;
    background-color:white;
    color: #333;
}
 
input::placeholder {
    color: #999;
}
 
.message textarea {
    border: 1px solid #2090ff;
    font-family: "Arial", sans-serif;
    margin-bottom: 10px;
    padding: 15px;
    background-color: white;
    font-size: 1rem;
    margin-bottom: 10px;
}
 
.checkbox {
    display: flex;
    align-items: center;
    gap:10px;
    margin-top: 15px;
}
 
.input-check {
    margin-top: 4px;
}
 
.p-ckeck {
    margin: 0;
    font-size: 0.9rem;
    color:#555;
}
 
input,
textarea {
    width: 96.5%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(243, 243, 243);
    font-family: "Arial", sans-serif;
    box-sizing: border-box;
}
 
input[type="submit"] {
    background-color: #0d4d74;
    color: white;
    border: none;
    cursor: pointer;
    padding: 15px 40px;
    width: auto;
    border-radius: 30px;
    font-size: 1.2rem;
    margin: 20px auto;
    display: block;
    transition: background-color 0.3s ease;
}
 
input[type="submit"]:hover {
    background-color: #003f7f;
}
 
 
.producto {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
}
 
.producto label {
    font-weight: bold;
    font-size: 1rem;
    color: #333;
}
 
.producto select {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px, solid #2090ff;
    background-color: white;
    font-family: "Arial" sans-serif;
 
}
 
@media (max-width: 768px) {
    .form-container {
        width: 90%;
    }
 
    .input-name-company, .email-phone {
        flex-direction: column;  
    }
 
    input[type="submit"] {
        width: 100%;
    }
 
    .producto label, .producto select {
        width: 100%;
    }
}